* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

b,
strong {
  font-weight: 600;
}

blockquote {
  border-left: 0.5rem solid blue;
  padding: 1rem 1.6rem;
}

blockquote,
ol,
p,
ul {
  margin-bottom: 2.5rem;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  margin: auto;
  max-width: 80ch;
  padding: 1.6rem;
}

footer {
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

hr {
  margin: 3rem 0;
  opacity: 0.2;
}

html {
  color-scheme: dark light;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

li {
  margin-bottom: 1rem;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: square inside;
}

ul li::marker {
  color: blue;
}
