:root {
  --content-padding: 1rem 1.6rem;
  --background-color: white;
  --primary-color: blue;
  --text-color: black;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  margin: auto;
  max-width: 80ch;
  padding: var(--content-padding);
}

footer {
  display: flex;
  justify-content: space-between;
}

blockquote {
  border-left: 0.5rem solid var(--primary-color);
  padding: var(--content-padding);
}

blockquote,
ol,
p,
ul {
  margin-bottom: 2.5rem;
}

hr {
  margin: 3rem 0;
  opacity: 0.2;
}

li {
  margin-bottom: 1rem;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: square inside;
}

ul li::marker {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: none;
}

h1,
h2,
h3 {
  letter-spacing: -0.1rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

b,
strong {
  font-weight: 600;
}

::selection {
  background-color: lime;
  color: black;
}

.material-symbols-rounded {
  border-radius: 25px;
  color: var(--primary-color);
  font-size: 2rem;
  padding: 1rem;
}

.material-symbols-rounded:hover {
  background-color: rgb(211, 211, 211, 0.2);
  cursor: pointer;
}

#theme-switch span:last-child {
  display: none;
}

/* || DARK MODE */
.dark-mode {
  --background-color: #222;
  --text-color: white;
}

.dark-mode #theme-switch span:first-child {
  display: none;
}

.dark-mode #theme-switch span:last-child {
  display: block;
}
